<br />
<br />
{% assign education = site.data.vita.education %}
{% if education %}
<div id="vita">
   <a name="education"><h2>EDUCATION</h2></a>
   {% for graduation in education %}
   <p>
   <div class="margin">{{ graduation.time }}</div>
   <div class="body">
      <strong>{{ graduation.degree }}</strong><br />
      {% if graduation.url %} 
         <a href="{{ graduation.url }}">
      {% endif %}
      {{ graduation.university }} | {{ graduation.location }}
      {% if graduation.url %} 
         </a>
      {% endif %}
   </div><!--//item-->
   </p>
   {% endfor %}
</div>
{% endif %}

<hr />

{% assign experience = site.data.vita.experience %}
{% if experience %}
<div id="vita">
   <a name="experience"><h2>EMPLOYEMENT</h2></a>
   {% for job in experience %}
   <p>
   <div class="margin">{{ job.time }}</div>
   <div class="body">
      <strong>{{ job.role }}</strong><br />
      {% if job.url %} 
         <a href="{{ job.url }}">
      {% endif %}
      {{ job.company }} | {{ job.location }}<br />
      {% if job.url %} 
         </a>
      {% endif %}
      {% if job.details %} 
         {{ job.details | markdownify }}
      {% endif %}
   </div>
   </p>
   {% endfor %}
</div>
{% endif %}

<hr />

{% assign awards = site.data.vita.awards %}
{% if awards %}
<div id="vita">
   <a name="awards"><h2>AWARDS</h2></a>
   {% for award in awards %}
   <p>
   <div class="margin">{{ award.time }}</div>
   <div class="body">
      <strong>{{ award.name }}</strong><br />
      {% if award.url %} 
         <a href="{{ award.url }}">
      {% endif %}
      {{ award.body }} <br />
      {% if award.url %} 
         </a>
      {% endif %}
      {% if award.description %} 
         {{ award.description | markdownify }}
      {% endif %}
   </div>
   </p>
   {% endfor %}
</div>
{% endif %}

<hr />

{% assign activities = site.data.vita.professional-activities %}
{% if activities %}
<div id="vita">
   <a name="activities"><h2>PROFESSIONAL ACTIVITIES</h2></a>
   {% for activity in activities %}
   <p>
   <div class="margin">{{ activity.time }}</div>
   <div class="body">
      {% if activity.name %}
      <strong>{{ activity.name }}</strong><br />
      {% endif %}
      {% if activity.url %} 
         <a href="{{ activity.url }}">
      {% endif %}
      {% if activity.body %}
      {{ activity.body }} <br />
      {% endif %}
      {% if activity.url %} 
         </a>
      {% endif %}
      {% if activity.description %} 
         {{ activity.description | markdownify }}
      {% endif %}
   </div>
   </p>
   {% endfor %}
</div>
{% endif %}

<hr />




{% comment %}

Teaching
Refereed Publications
Exhibitions
Invited Talks
Media Coverage
* Professional Activities
* Awards


<h1>
 
    <div id="vita">
  
      <p>
      <!-- Teaching   Publications   Exhibitions   Talks   Media   Service   Awards -->
        <a href="#employment">Professional experience</a> &nbsp;
        <a href="#education">Education</a> &nbsp;
        <a href="#awards">Awards</a> &nbsp;
        <a href="#memberships">Memberships</a> &nbsp;
        <a href="#invited">Invited talks</a> &nbsp;
      </p>
  
  
      <!-- boards -->
  
      <p><br></p>
      <a name="boards"><h2>boards</h2></a>
  
      <p></p>
      <div class="margin">2019 - present</div>
      <div class="body">
         <strong>ACU IT Industry Advisory Board</strong><br />
         <a href="https://www.acu.edu.au/about-acu/faculties-directorates-and-staff/faculty-of-law-and-business/peter-faber-business-school">ACU Peter Faber Business School, Australia</a><br />
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2019 - present</div>
      <div class="body">
         <strong>Australian Research Centre for Interactive and Virtual Environments (IVE) Advisory Board</strong><br />
         <a href="https://unisa.edu.au/research/australian-research-centre-for-interactive-and-virtual-environments/">University of South Australia, Australia</a><br />
      </div>
      <p></p>
  

  
      <!-- awards -->
  
      <p><br></p>
      <a name="awards"><h6>awards and grants (selected)</h6></a>
     
      <p></p>
      <div class="margin">2012</div>
      <div class="body">
          <strong><a href="http://cloudimaging.net.au">Cloud Based Image Analysis and Processing Toolbox RT035</a></strong><br />
          CSIRO + <a href="https://nectar.org.au/">National eResearch Collaboration Tools and Resources (NeCTAR)</a><br />
          The grant worth of $1,435,000 over period of approximately one and a half years.
          The project that connects various imaging modalities on national cloud infrastructure.
       </div>
      <p></p>
  







      <!-- professional memberships -->
  
      <p><br></p>
      <a name="memberships"><h6>professional memberships and activities</h6></a>
  
  
     


      <!-- Invited -->
  
      <p><br></p>
      <a name="invited"><h6>invited (to be updated)</h6></a>
  
      <p></p>
      <div class="margin">2020</div>
      <div class="body">
         <strong>KEYNOTE: Responsible Technology through Visual Analytics and Compuational Angles</strong><br /> 
         <a href="http://www.graphicslink.co.uk/IV2020/IV2020_progV12A_BookAbstractV12A.pdf">24th International Conference Information Visualization</a>. Melbourne AU and Vienna EU, 7-11 September.</br>
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2019</div>
      <div class="body">
         <strong>KEYNOTE: Hybrid Analytics, Digital Twins and Expanded Perception and Interaction</strong><br /> 
         <a href="https://vrst.acm.org/vrst2019/">The 25th ACM Symposium on Virtual Reality Software and Technology</a>. Sydney, 12-15 November.</br>
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2019</div>
      <div class="body">
         <strong>KEYNOTE: Hybrid Analytics</strong><br /> 
         <a href="http://www.graphicslink.co.uk/cgiv2019/">The 16th International Conference on Computer Graphics, Imaging and Visualization (IV/CGiV 2019)</a>. Adelaide, 16-19 July.</br>
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2017</div>
      <div class="body">
         <strong>Invited Talk: Art of Real Time and Collision of Cultures</strong><br /> 
         <a href="https://onoff100101010.com/">on|off 100101010 Colliding and Surrending: chaos and freedom where art and technologies meet</a>. NTU, Singapore, 11-13 October.</br>
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2017.08</div>
      <div class="body">
         <strong>Invited Talk/Panel: Big Data and Visual Analytics - what is it good for?</strong><br /> 
         <a href="https://www.scienceweek.net.au/big-data-and-visual-analytics-what-is-it-good-for/">VR, AR, HPC and Visualisation systems in Era of Big Data</a>. National Science Week. Chatswood Library, 17 August 2017.</br>
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2017</div>
      <div class="body">
         <strong>Invited Talk: Innovation Triangle</strong><br /> 
         <a href="http://s2017.siggraph.org/acm-siggraph-theater-events/sessions/cg-australasia-developing-links-between-industry-and-higher">SIGGRAPH 2017: CG in Australasia - developing links between industry and education in CG</a>. Los Angeles, 30 July - 3 August.</br>
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2016</div>
      <div class="body">
         <strong>Invited Keynote</strong><br /> 
         <a href="http://technoart2016.web2.ncku.edu.tw/bin/home.php">3rd ISAT (Collision, Collaboration and the Future of ArtSci) Conference</a>. The National Cheng Kung University, Taiwan, on 14-17 November 2016.</br>
      </div>
      <p></p>
  
      <!-- recent projects -->
  
      <p><br></p>
      <a name="projects"><h6>recent projects (funded)</h6></a>
  
      <p></p>
      <div class="margin">2019 - 2020</div>
      <div class="body">
         <strong>Creative short course for future focused industries - Computer Graphics, Interactive Techniques, Simulation, and Social Robotics</strong><br /> 
         UNSW Scientia Education Investment Fund Grant
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2019</div>
      <div class="body">
         <strong>Network Lab - Multi-Modal Collaborative High-End Visualisation System</strong><br /> 
         UNSW Research Infrastructure Scheme (RIS)
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2018 - 2019</div>
      <div class="body">
         <strong>3D-Enhanced Facility Management for Supporting Navigation Experience for Disabled People</strong><br /> 
         UNSW Cross-Faculty Research Grant (RG182533)
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2018 - 2019</div>
      <div class="body">
         <strong>Viz Cloud</strong><br /> 
         UNSW Restech Support Scheme (RG182837-B)
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2018 - 2019</div>
      <div class="body">
         <strong>Massive Network Visualisation and AI</strong><br /> 
         Collaborative Research Project - CSIRO Data61 / UNSW EPICentre
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2018</div>
      <div class="body">
         <strong>Data Visualisation for Investigative Analytics</strong><br /> 
         Collaborative Research Project - CSIRO Data61 / UNSW EPICentre
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2018</div>
      <div class="body">
         <strong>CFIP 3D Virtual Prototyping System</strong><br /> 
         UNSW Research Infrastructure Scheme (RIS)
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2018</div>
      <div class="body">
         <strong>Better Simulation Models and Visualisation for the Joint Domain</strong><br /> 
         Collaborative Research Project - Defence Science and Technology Group (DSTG)
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2017 - 2019</div>
      <div class="body">
         <strong>WA Metabolic Phenotyping Centre</strong><br /> 
         ARC LIEF with Murdoch University
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2016 - 2017</div>
      <div class="body">
         <strong>Repid Analytics Interactive Scenario Explorer (RAISE)</strong><br /> 
         CRC for Spatial Information / Rapid Spatial Analytics (RSA) Research Program
      </div>
      <p></p>
  
      <!-- conferences and workshops -->
  
      <p><br></p>
      <a name="conferences"><h6>conferences and workshops</h6></a>
  
      <p></p>
      <div class="margin">2021</div>
      <div class="body">
         <strong>Frontiers Program Chair</strong><br /> 
         <a href="http://s2021.siggraph.org">SIGGRAPH 2021, Los Angeles, USA</a>
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2020</div>
      <div class="body">
         <strong>Technical Communications and Posters Program Chair</strong><br /> 
         <a href="http://sa2020.siggraph.org">SIGGRAPH Asia 2020, Daegu, South Korea</a>
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2019</div>
      <div class="body">
         <strong>Conference Chair</strong><br /> 
         <a href="http://www.choosebrisbane.com.au/conventions/news/brisbane-to-host-siggraph-asia-2019">SIGGRAPH Asia 2019, Brisbane, Australia</a>
      </div>
      <p></p>
  
      <div class="margin">2019</div>
      <div class="body">
         <strong>General Chair</strong><br /> 
         <a href="http://visualisation.matters.today/2019">Vis Matters 2019: Visualisation Matters Today</a>, 6 May, Canberra, Australia
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2018</div>
      <div class="body">
         <strong>Courses Committee</strong><br /> 
         <a href="https://sa2018.siggraph.org/en/submitters/courses/courses-committee">SIGGRAPH Asia 2018, Tokyo, Japan</a>
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2018</div>
      <div class="body">
         <strong>Virtual, Augmented and Mixed Reality Jury</strong><br /> 
         <a href="https://s2018.siggraph.org/conference/conference-overview/virtual-augmented-mixed-reality/virtual-augmented-mixed-reality-jurors/">SIGGRAPH 2018, 12-16 August, Vancouver, Canada
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2018</div>
      <div class="body">
         <strong>Unified Jury</strong><br /> 
         <a href="http://s2018.siggraph.org/">SIGGRAPH 2018, 12-16 August, Vancouver, Canada
      </div>
      <p></p>
  
      <div class="margin">2018</div>
      <div class="body">
         <strong>Program Board, Curator (HPC and Visual Creativity)</strong><br /> 
         <a href="https://fmx.de/en/program2018/list?t=788">FMX 2018.</a>, 24-27 April, Stuttgart, Germany
      </div>
      <p></p>
  
      <div class="margin">2018</div>
      <div class="body">
         <strong>Steering Committee</strong><br /> 
         <a href="http://bdva.net/2018/index.php/committee/">4th International Symposium on Big Data Visual and Immersive Analytics, BDVA 2018</a>, 17-19 October, Konstanz, Germany
      </div>
      <p></p>
  
      <div class="margin">2017</div>
      <div class="body">
         <strong>General Chair</strong><br /> 
         <a href="http://visualisation.matters.today">Vis Matters 2017: Visualisation Matters Today</a>, 21-22 November, Sydney, Australia
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2017</div>
      <div class="body">
         <strong>Courses Chair</strong><br /> 
         <a href="https://sa2017.siggraph.org/">SIGGRAPH Asia 2017, 27-30 November, Bangkok, Thailand
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2017</div>
      <div class="body">
         <strong>Unified Jury</strong><br /> 
         <a href="http://s2017.siggraph.org/">SIGGRAPH 2017 (at the HEART of Computer Graphics and Interactive Techniques), 30 July - 3 August, Los Angeles, USA
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2017</div>
      <div class="body">
         <strong>Technical Committee</strong><br /> 
         <a href="http://www.iwocl.org/">IWOCL 2017 - The 5th International Workshop on OpenCL, 16-18 May, Toronto, Canada</a>
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2017</div>
      <div class="body">
         <strong>General Co-Chair</strong><br /> 
         <a href="http://web3d2017.web3d.org/">Web3D 2017 (the 22nd International Conference on 3D Web Technology), 5-7 June, Brisbane, Australia
      </div>
      <p></p>
  
      <p></p>
      <div class="margin">2016</div>
      <div class="body">
         <strong>General Co-Chair</strong><br /> 
         <a href="http://www.bdva.net">International Symposium on Big Data Visual Analytics</a> (BDVA 2016), 22-25 November, Sydney, Australia
      </div>
      <p></p>
  
      <div class="margin">2016</div>
      <div class="body">
         <strong>Program Co-Chair</strong><br /> 
         <a href="http://web3d2016.web3d.org">Web3D 2016: 21st International Conference on 3D Web Technology</a>, 22-24 July, Anaheim, California, USA
      </div>
      <p></p>
  
      <div class="margin">2016</div>
      <div class="body">
         <strong>Program Board</strong><br /> 
         <a href="http://www.fmx.de/about/history/fmx-2016/boards-2016/program-board/">FMX 2016. Curating Visualisation matters: from small to massive scale</a>, 24-27 April, Stuttgart, Germany
      </div>
      <p></p>
  
      <div class="margin">2016</div>
      <div class="body">
         <strong>General Chair</strong><br /> 
         <a href="http://visualisation.matters.today">Vis Matters 2016: Visualisation Matters Today</a>, 18-19 February, Brisbane, Australia
      </div>
      <p></p>
  
      <div class="margin">2015</div>
      <div class="body">
         <strong>General Co-Chair</strong><br /> 
         <a href="http://www.bdva.net/2015/">IEEE International Symposium on Big Data Visual Analytics</a> (BDVA 2015), 22-25 September, Hobart, Australia
      </div>
      <p></p>
  
      <div class="margin">2015</div>
      <div class="body">
         <strong>Program Board</strong><br /> 
         <a href="http://www.fmx.de/program2015/list?t=410">FMX 2015. Curating Transmedia Experiences | Demoscene</a>, 5-8 May, Stuttgart, Germany
      </div>
      <p></p>
  
      <div class="margin">2014</div>
      <div class="body">
         <strong>General Co-Chair</strong><br /> 
         The 7th International Symposium on Visual Information Communication and Interaction (VINCI14)
      </div>
      <p></p>
  
      <div class="margin">2013</div>
      <div class="body">
         <strong>General Co-Chair</strong><br /> 
         2013 International Symposium on Computational Models for Life Sciences (CMLS-13), 27-29 November 2013, Sydney, Australia
      </div>    
      <p></p>
  
      <div class="margin">2013</div>
      <div class="body">
         <strong>International Program Committee</strong><br /> 
         <a href="http://event.ntu.edu.sg/gpu/Committee/Pages/default.aspx">2013 Symposium on GPU Computing and Applications</a>, 9 October 2013, Nanyang Technological University, Singapore
      </div>    
      <p></p>
  
      <div class="margin">2011</div>
      <div class="body">
         <strong>Program Committee, Organiser</strong><br /> 
         <a href="http://sites.google.com/site/ozvizworkshop/ozviz-2011">OzViz 2011 + Accelerated Computing Workshop</a>, 23-25 November, Sydney, Australia
      </div>    
      <p></p>
  
      <div class="margin">2010</div>
      <div class="body">
         <strong>Program Committee, Organiser</strong><br /> 
         <a href="https://sites.google.com/site/ozvizworkshop/ozviz-2010">OzViz 2010</a>, 2-3 December 2010, Brisbane, Australia<br />
         <a href="https://sites.google.com/site/ozvizworkshop/ozviz-2010/ozviz-2010-opencl-workshop-program">OpenCL workshop</a>, 1 December 2010, Pullenvale, Australia       
      </div>    
      <p></p>
  
    </div>
  


    {% endcomment %}
